<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"> Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <h3>User Information</h3>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Name:</strong> {{ userName }}</p>
      <p><strong>Brief Description:</strong> {{ briefDescription }}</p>
      <p><strong>Hobbies:</strong></p>
      <ion-list lines="none">
        <ion-item *ngFor="let hobby of hobbies"> {{ hobby }} </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center ion-margin-bottom">
    <ion-button (click)="navigateToCalculator()">Go to Calculator</ion-button>
  </div>
</ion-content>
