ion-content {
    --background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  ion-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  ion-toolbar {
    display: flex;
    justify-content: center;
    --background: #5b0f7c;  
    height: 5rem; 
  }

  ion-button {
    --background: #5b0f7c; 
    --color: white; 
    --border-radius: 4px; 
    --padding: 10px 20px; 
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  ion-item {
    --background: white;
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px; 
    border: 2px solid #5b0f7c; 
  }

  ion-input {
    --background: white;
    --padding-start: 10px; 
    color: black;
  }
  
  ion-input::part(native) {
    --background: white;
    color: black;
    border-radius: 4px;
    padding: 10px; 
    border: 1px solid #ccc; 
  }

  ion-input::part(native)::placeholder {
    color: gray; 
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    
    th, td {
      border: 1px solid #2c2a2a;
      padding: 8px;
      color:#2c2a2a;
    }
    
    tr:hover {
      background-color: #e468fc;
    }

    .book-container {
        max-width: 400px; 
        margin: auto; 
        padding: 20px;
      }
      
      .book-container h1 {
        text-align: center;
      }

      
    
  