<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>CAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-container">
    TYPE OF CAR
  </div>
  <ion-item>
    <ion-select placeholder="Select Car" [(ngModel)]="car.type">
      <ion-select-option *ngFor="let car of carType" [value]="car">{{ car }}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="confirm-btn">
    <ion-button expand="block" (click)="confirm()">CONFIRM</ion-button>
  </div>
</ion-content>