ion-content {
    --background: #ffffff;
}

ion-toolbar {
    --background: #004182;   
}

ion-header {
    --background: #3880ff; 
    --color: #fff; 
    border-bottom: 1px solid #ddd; 
  }
  
  ion-toolbar {
    --border-color: transparent; 
  }
  
  ion-title {
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  ion-buttons ion-button {
    --color: #fff; 
  }
  
  ion-content {
    --background: #f4f4f4; 
    padding: 20px;
  }
  
  ion-list {
    background-color: #fff;
    border-radius: 10px; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  
  ion-item {
    --inner-padding-end: 0; 
    padding: 10px 0; 
  }
  
  ion-item h2 {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 5px; 
  }
  
  ion-input {
    margin-top: 5px; 
    --padding-start: 0; 
    font-size: 1rem;
  }
  
  ion-button {
    display: block;
    margin: 20px auto; 
    width: 150px; 
    border-radius: 5px; 
    --background: #3880ff; 
    --color: #fff; 
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  ion-button:hover {
    --background: #3171e0; 
  }
