ion-content {
  --background: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  --background: #5b0f7c;  
  height: 5rem; 
}

  
  ion-list {
    background-color: #fff;
    border-radius: 10px; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  
  ion-item {
    --inner-padding-end: 0; 
    padding: 10px 0; 
  }
  
  ion-item h2 {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 5px; 
  }
  
  ion-input {
    margin-top: 5px; 
    --padding-start: 0; 
    font-size: 1rem;
  }

  ion-button {
    --background: #5b0f7c; 
    --color: white; 
    --border-radius: 4px; 
    --padding: 10px 20px; 
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .img img {
  width: 7rem;
 }

 .img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.info p {
  font-size: 20px;
  color:#5b0f7c;
  margin: auto;
}

.info h3 {
  margin: auto;
  color:#b5b5b5;
  font-size: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.my-account {
  margin-left: 20px;
}


.my-account h4 {
  font-size: 20px;
  color: rgb(31, 27, 30);
}

.add-button {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn:hover, .btn:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn ion-icon {
  color: black; /* Ensures the icon color inherits from the parent */
  font-size: 24px; /* Adjust size if necessary */
}


