<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="signup-container signup-box">
    <h1>
      Register
    </h1>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Retype Password</ion-label>
      <ion-input type="password" [(ngModel)]="retypePassword"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="signUp()">Sign Up</ion-button>

    <div class="signup-link">
      Already have an account? <a routerLink="/login">Sign In</a>
    </div>
  </div>
</ion-content>
