<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>CREATE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "book-container">
    <h1>ADDRESS</h1>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="addresses.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [(ngModel)]="addresses.place"></ion-input>
    </ion-item>
    <ion-button color="success" (click)="addAddress()">Add</ion-button>
  </div>
</ion-content>
