table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  th, td {
    border: 1px solid #2c2a2a;
    padding: 8px;
    color:#2c2a2a;
  }
  
  tr:hover {
    background-color: #FFEDD8;
  }
  
  ion-content {
    --background: #ffffff;
}

ion-toolbar {
    --background: #004182;   
}