ion-content {
    --background: linear-gradient(to bottom right, #fd8fc6, #ef49a2);
  
    ion-item {
      --padding-start: 10px;
      --padding-end: 10px;
      margin-bottom: 20px;
    }
  
    ion-button {
      margin-top: 20px;
    }
  }
  
  .signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .signup-box {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .signup-link{
      margin-top: 20px;
      color: #000;
  }
  
  h1{
      color: #000;
      margin-bottom: 30px;
      text-align: center;
  }