ion-content {
  --background: #004182;

  ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  ion-button {
    margin-top: 20px;
  }
}

  
  .signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .signup-box {
    width: 300px;
    padding: 20px;
    margin-top: 15rem;

  }
  
  .signup-link{
      margin-top: 20px;
      color: #ffffff;
  }

  .signup-link a {
    text-decoration: none;
    color: #f1f1f1;
  }
  
  h1{
    color: #ffffff;
    margin: auto;
    
}

h4 {
    color: #ffffff;
    margin:auto;
    font-size: 15px;
}

  .image img {
    width: 13rem;

  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }