ion-content {
  --background: white;;

  ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 20px;
  }

  ion-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-card-header,
  ion-card-content {
    background-color: #fff;
    color: #000;
  }
}

.container{
  margin: 1%;
}

.saveBtn {
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  --background: #004182;
  height: 10rem;
}

ion-title {
  text-align: center;
}

